.notificationTodo
  %ul.notificationTodo__mypageTabs
    = link_to do
      %li.info
        お知らせ
    = link_to do
      %li.todo
        やることリスト
  .notificationTodo__tabContent
    %ul.notificationTodo__tabContent__notification
    %ul.notificationTodo__tabContent__todo
      %li.notFoundTab
        現在、やることリストはありません
