%section.mypage-tab-container-notification-todo
  %ul.mypage-tabs
    %li.active
      %h3
        %a
          お知らせ
    %li
      %h3
        %a
          やることリスト
  .tab-content
    %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
      %li.mypage-item-not-found.bold
        お知らせの商品がありません
    %ul#mypage-tab-todo.mypage-item-list.tab-pane
      %li.mypage-item-not-found.bold
        現在、やることリストはありません
