.purchased
  %h2.purchased__tabHead
    購入した商品
  %ul.purchased--mypageTabs
    %li.purchased--mypageTabs__enRoute
      = link_to "取引中" , class: "enRoute"
    %li.purchased--mypageTabs__settled
      = link_to "過去の取引" , class: "settled"
  .purchased--tabContent
    %ul.purchased--tabContent__transactionNow
      %li.transactionNotFound
        取引中の商品がありません
    %ul.purchased--tabContent__transactionOld

