= render 'items/header'
%main.l-container.clearfix
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head プロフィール
      %form{:action => "https://www.mercari.com/jp/mypage/profile/", :method => "POST"}
        %input{:name => "__csrf_value", :type => "hidden", :value => "3e31567d731625c89df2ca3ca221d535b1269cfa1ba1b42283b366c4349faf6ca0ef529ddea2b3cd84d189ceefa9dc49bfe411b45173c5d686f72fefa7a8d5577"}/
        .setting-profile-icon
          %figure
            %img{:height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
          %input.input-default{:name => "nickname", :placeholder => "例)AYA☆セール中", :type => "text", :value => "ミワシュン"}/
        .setting-profile-content
          %textarea.textarea-default{:name => "introduction", :placeholder => "例）ご覧いただきありがとうございます。商品や発送方法などご質問がありましたらお気軽に"}
          %input{:name => "after_save_callback", :type => "hidden", :value => "https://www.mercari.com/jp/mypage/profile/"}/
          %button.btn-default.btn-red{:type => "submit"} 変更する
  = render 'l-side'
= render 'items/footer'
