.main-content
  = render partial: "items/header"
  .l-container.clearfix
    .l-content
      .l-chapter__inner
        .l-chapter__content
          .button.l-chapter__logout
            =link_to'ログアウト','/',{:class => 'l-chapter__logout-text--button'}
    = render partial: "l-side"
= render partial: "items/footer"
