= render 'items/header'
%main.l-container.clearfix
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head プロフィール
      %form{:action => "", :method => "POST"}
        %input{:name => "__csrf_value", :type => "hidden", :value => ""}/
        .setting-profile-icon
          %figure
            %img{:height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
          %input.input-default{:name => "nickname", :placeholder => "例)ニックネームorタイトル", :type => "text", :value => ""}/
        .setting-profile-content
          %textarea.textarea-default{:name => "introduction", :placeholder => "例）取扱商品とか人物紹介とか連絡方法とかとか"}
          %input{:name => "after_save_callback", :type => "hidden", :value => ""}/
          %button.btn-default.btn-red{:type => "submit"} 変更する
  = render 'l-side'
= render 'items/footer'
