.main-content
  = render 'registration-header'

  .main-content__login
    .main-content__login-all
      .main-content__login-all-no_account
        %p アカウントをお持ちでない方はこちら
        = link_to '新規会員登録', new_user_registration_path,class: 'link-signin'
      .main-content__login-all-login
        %button.facebook-login
          %i.fab.fa-facebook.fa-pull-left
          Facebookでログイン
        %button.google-login
          %i.fab.fa-google.fa-pull-left
          Googleでログイン
      %form{:action => "https://www.mercari.com/jp/login/", :method => ""}
        .form-login
          .form-login-email
            %input.login-email{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}
          .form-login-password
            %input.login-password{:name => "password", :placeholder => "パスワード", :type => "password", :value => ""}
          .form-login-no-robot
            recaptcha_tags
          %button.login-submit{:type => "submit"} ログイン
          =link_to 'パスワードをお忘れの方','https://www.mercari.com/jp/password/reset/start/',class: 'forget-password'

  = render 'registration-footer'
