%footer
  .footer__top_banner
    .footer__top_banner__mobile
      = image_tag "top_image/download_content_pc.png", :size => "250x250"

    %p.footer__top_banner__message
      スマホでかんたんフリマアプリ
      %br/
      %span 今すぐ無料ダウンロード!
    .mercari_logo_bottom
      = image_tag "top_image/mercari_profile.png", class: 'mercari_radius'
    .apple_logo_bottom
      = image_tag "top_image/app-store.svg", class: 'apple_logo_bottom'
    .google_logo_bottom
      = image_tag "top_image/google-play.svg"
  .footer__bottom__banner
    .footer__bottom__banner__about_mercari
      %p 会社概要（運営会社)
      %p プライバシーポリシー
      %p メルカリ利用規約
      %p 有償ポイントに関する特約
      %p あんしんスマホサポート制度に関する利用特約
      %p コンプライアンスポリシー
      %p 個人データの安全管理に係る基本方針
      %p 特定商取引に関する表記
      %p 資金決済法に基づく表示
      %p 法令順守と犯罪抑止のために
      %p 採用情報
    .footer__bottom__banner__show_mercari
      %p メルカリを見る
      %p カテゴリー一覧
      %p ブランド一覧
      %p 出品地域一覧
      %p 公式ブログ
      %p 公式Twitter
      %p 公式Facebook
    .footer__bottom__banner__help_guide_mercari
      %p ヘルプ＆ガイド
      %p メルカリガイド
      %p メルカリロゴ利用ガイドライン
      %p お知らせ
      %p らくらくメルカリ便とは
      %p ゆうゆうメルカリ便とは
      %p 大型らくらくメルカリ便とは
      %p 車体取引ガイド
      %p 返品・返金ポリシー
      %p メルカリあんしん・あんぜん宣言！
      %p 偽ブランド品撲滅への取り組み
      %p メルカリボックス
    .footer__bottom__banner__country_mercari
      %p 国
      %p United States
      %p United Kingdom
      %p 日本
  .mercai_2019
.sell_btn
  %p.sell_btn__message
    出品
  %i.fas.fa-camera
