%p.new_pickup__category__ladies_new__message
  メンズ新着アイテム
.new_pickup__category__new
  .new_pickup__category__new__contents_box
    = image_tag "top_image/m42018897171_1.jpg", :size => "213x213"
    .item_box_body
      .item_box_body__name
        ズボン
      .item_box_body__num
        .item_box_body__num__price ¥11,111
        .item_box_body__num__tax (税込)
        %i.far.fa-heart 4
  .new_pickup__category__new__contents_box
    = image_tag "top_image/m42018897171_1.jpg", :size => "213x213"
    .item_box_body
      .item_box_body__name
        ズボン
      .item_box_body__num
        .item_box_body__num__price ¥11,111
        .item_box_body__num__tax (税込)
        %i.far.fa-heart 4
  .new_pickup__category__new__contents_box
    = image_tag "top_image/m42018897171_1.jpg", :size => "213x213"
    .item_box_body
      .item_box_body__name
        ズボン
      .item_box_body__num
        .item_box_body__num__price ¥11,111
        .item_box_body__num__tax (税込)
        %i.far.fa-heart 4
  .new_pickup__category__new__contents_box
    = image_tag "top_image/m42018897171_1.jpg", :size => "213x213"
    .item_box_body
      .item_box_body__name
        ズボン
      .item_box_body__num
        .item_box_body__num__price ¥11,111
        .item_box_body__num__tax (税込)
        %i.far.fa-heart 4