.breadcrumbs{
  padding-left: 200px;
  background-color: white;
  position: relative;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
}

.crumb-name{
  font-size: 15px;
}
