@mixin height_width($height,$width){
  height: $height;
  width:  $width;
}
@mixin padding_side($left,$right){
  padding-left: $left;
  padding-right: $right;
}

@mixin flex(){
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}
@mixin flex_start(){
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}

// ヘッダ全体とヘッダー上部
header{
  @include height_width(100px,100vh);
  @include padding_side(200px,200px);

&__mercari {
  @include height_width(148px,700px);
  }

.mercari_logo{
  @include height_width(40px,148px);
  padding-top:5px;
  }
}

li{
  display: inline-block;
  font-size:13px;
}
/*検索フォーム*/
.cp_iptxt input[type='text'] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 700px;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  border: 1px solid #1b2538;
  border-radius: 4px;
  position:absolute;
  top: 5px;
}

// ヘッダーの下の部分
.header__navi{
  @include height_width(38px,900px);
  font-size: 14px;
  padding-top: 15px;
  @include flex_start();

&__left{
  @include flex_start();
  width: 600px;
}
&__right{
  width: 400px;
  display:flex;
  flex-direction:row;
  justify-content: flex-end;

  }
}

// 保留
// .mypage_icon{
//   height:32px;
//   width:32px;
//   border-radius: 50%;
// }

