@import "./variable";

@mixin height_width($height,$width){
  height: $height;
  width:  $width;
}
@mixin padding_side($left,$right){
  padding-left: $left;
  padding-right: $right;
}

@mixin flex(){
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}
@mixin flex_start(){
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}
*{
  box-sizing:border-box;
}

// ヘッダ全体とヘッダー上部
header{
  @include height_width(100px,100vw);
  @include padding_side(200px,200px);
  position:relative;
  background-color:#FFFFFF;

  &__mercari {
    @include height_width(148px,100px);
    }
    .mercari_logo{
      @include height_width(40px,130px);
      margin-top:5px;
  }
}
input.mercari-header{
    height: 40px;
    width: calc(100%);
    float:right;
    margin-top: 10px;
    border-radius: 5px;
   border-style: none;
   border:solid 1px #ccc;
 }
.search{
    height: 36px;
    width: calc(100% - 150px);
    float:right;
    border-radius: 5px;
  }
.search_btn{
visibility:hidden;
}
.left{
  width: 150px;
  color:#000000;
  text-decoration: none;
}
.right{
  color:#000000;
  width: 150px;
  text-decoration: none;
}
.header__navi__button-box{
  margin-left: 20px;
}
.header__navi__Log-In{
  @include height_width(32px,78px);
  background-color: $red;
  color:$white;
  border-radius: 3px;
  text-decoration:none;
  padding-top: 5px;
  padding-left: 10px;
}
.header__navi__sign-up{
  @include height_width(32px,78px);
  background-color: $white;
  color:$light_blue;
  border-radius: 3px;
  border: solid 1px $light_blue;
  text-decoration:none;
  padding-top: 5px;
  padding-left: 10px;
}
// ヘッダーの下の部分
.header__navi{
  @include height_width(50px,100%);
  font-size: 14px;
  padding-top: 15px;
 
  margin-bottom:20px;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;

  &__left{
    @include flex();
     width: 100%;
     white-space: nowrap;
     display:flex;
      flex-direction:row;
      justify-content: flex-start;
  }
    &__right{
      display:flex;
      flex-direction:row;
      justify-content: flex-end;
      white-space: nowrap;
      // width: 0px;

      }
    }
.mypage_logo{
  @include height_width(25px,25px);
  border-radius: 50%;
}
.top_banner__main_image{
  width: 100%;
  vertical-align: bottom;
}