@mixin height_width($height,$width){
  height: $height;
  width:  $width;
}
@mixin padding_side($left,$right){
  padding-left: $left;
  padding-right: $right;
}

@mixin flex(){
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}
@mixin flex_start(){
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}
*{
  box-sizing:border-box;

}

// ヘッダ全体とヘッダー上部
header{
   @include height_width(160px,100vw);
  @include padding_side(200px,200px);
  position:relative;
  height: auto;


  &__mercari {
    @include height_width(148px,100px);
    }
    .mercari_logo{
      @include height_width(40px,130px);
      margin-top:5px;

  }
}
input{
  float:right;
  margin-top: 10px;
  padding-top: 5px;
  max-width: 100%;
  height: auto;
}
p.left{
  width: 180px;
}
p.right{
  width: 99px;
}


// ヘッダーの下の部分
.header__navi{
  @include height_width(38px,100%);
  font-size: 14px;
  padding-top: 15px;
  @include flex_start();
  margin-bottom:20px;

  &__left{
    @include flex();
     width: 300px;
     white-space: nowrap;
  }
    &__right{
      display:flex;
      flex-direction:row;
      justify-content: flex-end;
      width: 800px;

      }
    }

.top_banner__main_image{
  width: 100%;
  vertical-align: bottom;
}
