@import "./variable";

/*ここからメインコンテンツ*/
.pickup_container{
	background-color: $thin_gray;
  padding-top: 40px;
  @include height_width(100%,100%);

  &__message{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }
}
// カテゴリータイトル
.new_pickup__category{
  background-color: $thin_gray;
  color:$white;
  font-weight:bold;

  &__ladies_new__message{
    font-size: 22px;
    text-align: center;
    padding-top:38px;
     color: $light_blue;
  }
}
// /*出品ボタン*/
.sell_btn{
  background-color: $red;
  @include height_width(160px,160px);
   border-radius: 50%;
   position: fixed;
   right:20px;
   bottom:20px;

  p.sell_btn__message{
    color:$white;
    font-size:22px;
    position: relative;
    top:30px;
    left:55px;
  }
    i.fas.fa-camera{
      color:$white;
      font-size:59.91px;
      position: relative;
      top:30px;
      left:50px;
  }
}

/*メイン画面コンテンツ*/
.new_pickup__category__new{
  @include height_width(442px,950px);
  margin: 0 auto;
  @include flex_start();

  &__contents_box{
    background-color: $white;
    @include height_width(330px,213px);
    margin-top: 25px;
    margin-right: 20px;
    text-decoration: none;
   }
}

// アイテム欄個別

.new_pickup__category__new-image{
   @include height_width(213px,100%);
    text-align: center;
}
.thumnail-box{
  max-width: 100%;
  min-height: 213px;
  max-height: 213px;
  vertical-align: bottom;
  display: inline-block;
}

.item_box_body{
  @include height_width(117px,200px);
  margin-left:20px;
  margin-right:20px;
  position:relative;

  &__name{
    font-weight: lighter;
    color:$black;
    @include height_width(48px,181px);
    padding-top:20px;
    box-sizing: border-box;
    text-align: left !important;
  }
    &__num{
      color:$black;
      @include height_width(30px,165.23px);
      position:absolute;
      bottom:20px;
      text-align: left !important;

      &__price{
        font-size: 16px;
        color:$black;
        @include height_width(20px,60.81px);
        // margin-bottom: 10px;
    }
        .item_box_body__num__tax{
          color:$black;
          @include height_width(10px,165.23px);
          font-size: 5px;
          position:relative;
      }
          i.far.fa-heart{
            position:absolute;
            color:#CCCCCC ;
            bottom:10px;
            right:-10px;
     }
  }
}


#slide-top-banner {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.top_banner__main_image{
  width: 100vw;
  height: 390px;
  float: left;
  position: relative;
  overflow: hidden;
}
.slider-wrapper {
  width: 300%;
  position: relative;
  left: 0;
  will-change: transform;
  animation: slider 8s infinite;
  overflow: hidden;
}

@keyframes slider {
  animation-delay: 5s;
  0% { transform: translateX(0); }
  33% { transform: translateX(-100vw); }
  66% { transform: translateX(-200vw); }
  100% { transform: translateX(-200vw); }
}
