//入力範囲全体
.item-content-area {
  width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: solid 1px #EEEEEE;
  background-color:#fff;
  &__text {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
    border-bottom: solid 1px #eee;
  }
}

.box{
  padding:40px;
  border-bottom: solid 1px #eee;
  box-sizing:border-box;
}
.item-box-header {
  margin-bottom: 8px;
  &__big-title {
    font-size: 16px;
    font-weight: bold;
  }
  &__small-title {
    font-size: 14px;
    font-weight: bold;
  }
  &__must-icon {
    margin-left: 3px;
    color: white;
    width: 32px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    background-color: #FC0D1B;
  }
  &__next{
    margin-top:36px;
  }
}

//各ボックスをflex化
.flexbox{
  display:flex;
  justify-content: space-between;
}

//商品名と商品説明のテキストフィールド、セレクトボックスフィールド
.text-field {
  width: 100%;
  height: 46px;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 4px;
  border: solid 1px #CCCCCC;
  box-sizing: border-box;
}
.text-area {
  width: 100%;
  height: 140px;
  padding: 20px;
  font-size: 16px;
  border: solid 1px #CCCCCC;
  box-sizing: border-box;
}
.select-field {
  width: 100%;
  height: 48px;
}

.text-field__mini {
  width: 160px;
  text-align: right;
}

//商品詳細と配送についてと販売価格の右側と左側を区分
.left-side {
  width: 210px;
  color: #888888;
  font-size: 14px;
  font-weight: bold;
  float: left;
  background-color: white;
  span {
    font-size:14px;
  }
}
.right-side {
  width: 400px;
  float: right;
  background-color: white;
}

// 画像アップロード
.item-image {
  &__infomation {
    font-size: 14px;
    margin-bottom: 20px;
  }
  &__uploadarea {
    right: 0;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    border: dashed 1px #CCCCCC;
    background-color:#eee;
    &-text{
      width: 100%;
      height: 100%;
      padding: 40px;
      text-align: center;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}

///各ボックスの高さ
.item-detail {
  height: 260px;
}
.item-delivery {
  height: 370px;
}
.item-price {
  height: 300px;
  .fee {
    font-size:14px;
  }
}


//item-price関連
.yen-mark {
  font-size: 12px;
  margin-right: 4px;
}

.blue-icon {
  color:#0099e8;
}

.pad-1 {
  padding:0 0 24px;
}

.pad-2 {
  padding:24px 0;
}

.bar {
  border-top:1px solid #ccc;
}

.bold{
  font-weight: 600;
}

//atention-box関連
.attention-1, .attention-3 {
  margin: 0;
  height: 21px;
  font-size: 14px;
  line-height: 21px;
}
.attention-2 {
  margin: 0;
  height: 42px;
  font-size: 14px;
  line-height: 21px;
}
.listing-btn {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 14px;
  margin-top: 40px;
  line-height: 50px;
  text-align: center;
  border: none;
  background-color: #EA352D;
}
.no-line {
  color: #0099e8;
  text-decoration: none;
}
.return-area{
  margin-top: 20px;
  text-align: center;
  .return-btn {
    width: 45%;
    height: 50px;
    color: white;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    background-color: #AAAAAA;
    border: none;
  }
}
