a {
    color: #0099e8;
    text-decoration: none;
}
label {
    display: inline-block;
}
select {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.l-single-inner {
    border-top: 1px solid #f5f5f5;
    padding: 40px;
}

@media screen and (min-width: 768px){
  .l-single-inner {
      padding: 64px;
  }
}
.l-single-inner p {
    margin: 8px 0 0;
    line-height: 1.5;
}
.text-right {
    text-align: right;
}
.form-group {
    margin: 40px 0 0;
}
.form-group label {
    font-weight: 600;
}
.form-arbitrary {
    background: #ccc;
}
.form-require, .form-arbitrary, .message-is-seller, .news-private {
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
}
.form-group .input-default {
    width: 100%;
    margin: 8px 0 0;
}

.form-group .select-wrap {
    margin: 8px 0 0;
}

.select-wrap {
    position: relative;
    background: #fff;
}
.form-group select {
    width: 100%;
}
.select-default {
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.select-wrap .fas.fa-chevron-down {
    position: absolute;
    right: 16px;
    top: 50%;
    color: #888;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.select-wrap {
    position: relative;
    background: #fff;
}
.form-group .fas.fa-chevron-down {
    position: absolute;
}
.mypage-bank-account button[type="submit"], .mypage-identification button[type="submit"] {
    margin: 40px 0 0 0;
}


.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
