.main-content__header{
  height: 128px;
  text-align: center;
  padding: 0 ;
  background-color: #f5f5f5;

  h1.header-title{
    margin-top: 0;
  }
  .mercari-header-logo{
    width: 185px;
    height: 49px;
    margin: 40px;
    }
  }
