@import "./reset";
@import "./header";
@import "./items";
@import "./footer";
@import "./mixin";

@mixin height_width($height,$width){
  height: $height;
  width:  $width;
}
@mixin padding_side($left,$right){
  padding-left: $left;
  padding-right: $right;
}

@mixin flex(){
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

@mixin flex_start(){
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}
