.l-content{
  background-color: white;
}

.l-chapter-credithead{
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  font-size: 24px;
  padding: 8px 24px;
  font-weight: normal;
  font-weight: bold;
  }

.editingscreen{
  max-width: 320px;
  margin: -40px auto;
}

.form-group{
  margin: 40px 0 0;
  width: 100%;

// #共通部分
  &__toptext{
    font-weight: 600;
    font-size: 14px;
  }

  &__form-require{
  background-color: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  }

  &__input-default{
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  }

  // #クレジットカードロゴ部分
  &__signup-card-logo{
    &--visa{
      @include height_width(20px,34px);
    }
    &--master{
    @include height_width(20px,32px);
  }

    &--saison{
      @include height_width(20px,32px);
    }

    &--jcb{
      @include height_width(20px,32px);
    }

    &--american{
      @include height_width(20px,21px);
    }

    &--dinersclub{
      @include height_width(20px,32px);
    }

    &--discover{
      @include height_width(20px,32px);
    }
  }

  // #有効期限年月年月部分
  &__expiration_date{
    width: 100%;
  }

  &__expiration_date_monthyear{
      display: inline-block;
      width: 35%;

    &--select-default{
        position: relative;
        z-index: 2;
        height: 48px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        width: 100px;
    }
  }
  &__monthyeartext{
    font-size: 15px;
  }

  // #セキュリティコード補足説明以下部分
  &__form-question {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: #fff;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
  }

  &__signup-seqcode-text {
    text-align: right;
    color: #0099e8;
    font-size: 14px;
  }

  &__btn-default.btn-red{
    margin: 40px 0 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
}
